<form action="/figures/<%=@figure.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <p>
        Name <input type="text" name="figure[name]" id="figure_name" value="<%=@figure.name%>">
    </p>

    <h4>
        Titles
    </h4>
    <h6>
        <% @titles.each do |title| %>
            <div><input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>"<%="checked" if @figure.titles.include?(title)%>><%= title.name %></div>
        <% end %>
    </h6>

    <h4>
        Create New Title: 
        <div>
            <input type="text" name="title[name]" id="new_title">
        </div>
    </h4>

    <h4>
        Landmarks
    </h4>
    <h6>
        <% @landmarks.each do |landmark| %>
            <div><input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%=landmark.id%>"<%="checked" if @figure.landmarks.include?(landmark)%>><%= landmark.name %></div>
        <% end %>
    </h6>

    <h4>
        Create New Landmark: 
    </h4>
    <h6>
        Name: <input type="text" name="landmark[name]" id="new_landmark">
        Year: <input type="text" name="landmark[year_completed]" id="year_completed">
        <input type="submit" value="Edit Figure">
    </h6>



</form>